<div class="card" style="text-align: left">
    <div class="card-body">
        <h3 class="card-title">{{ .title }}</h3>
        {{if .text }}
        <p class="card-text">{{ .text }}</p>
        {{ end }}
        {{ range $type, $url := .versions }}
        {{if eq $type "url"}}
        <a href="{{ $url | safeURL }}" class="btn btn-primary" target="_blank"><i class="fas fa-external-link-alt"></i>
            Ir para download</a>
        {{else if eq $type "pdf"}}
        <a href="{{ $url | relURL }}" class="btn btn-primary"><i class="far fa-file-pdf"></i>
            Baixar PDF</a>
        {{ else if eq $type "epub" }}
        <a href="{{ $url | relURL }}" class="btn btn-primary"><i class="fas fa-book"></i> Baixar
            EPUB</a>
        {{ end }}
        {{ end }}
    </div>
</div>
