<div class="team-player text-center">
    {{ $scratch := newScratch }}
    {{ with (.Resources.ByType "image").GetMatch "*avatar*" }}
        {{ $scratch.Set "image" (.Resize (printf "550x q90 %s")).RelPermalink }}
    {{ end }}
    <img src="{{ $scratch.Get "image" | default "img/default-avatar.png"}}" alt="Photo of {{ .Params.name }}" class="rounded-circle img-fluid img-raised">
    <h3 class="title" style="font-size: 1.4em">{{ .Params.name }}</h3>
    <p class="category text-primary mb-0">{{ .Params.role }}</p>
    <!-- TODO: configure email -->
    {{ range .Params.Social }}
        {{ with .email }}
            <p class="mb-0">{{ . }}</p>
        {{ end }}
    {{ end }}
    <style>
        .team-icons a{
            font-size: 2em;
        }
    </style>
    <div class="mb-3 team-icons">
        {{ range .Params.Social }}
            {{ with .homepage }}
                <a href="{{ . | safeURL }}" ><i class="fab fas fa-home"></i></a>
            {{ end }}
            {{ with .twitter }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-twitter"></i></a>
            {{ end }}
            {{ with .facebook }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-facebook"></i></a>
            {{ end }}
            {{ with .youtube }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-youtube"></i></a>
            {{ end }}
            {{ with .tumblr }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-tumblr"></i></a>
            {{ end }}
            {{ with .steam }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-steam"></i></a>
            {{ end }}
            {{ with .skype }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-skype"></i></a>
            {{ end }}
            {{ with .github }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-github"></i></a>
            {{ end }}
            {{ with .linkedin }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-linkedin"></i></a>
            {{ end }}
            {{ with .bitbucket }}
                <a href="{{ . | safeURL }}" ><i class="fab fa-bitbucket"></i></a>
            {{ end }}
            {{ with .research_gate }}
                <a href="{{ . | safeURL }}" ><i class="ai fab ai-researchgate"></i></a>
            {{ end }}
            {{ with .lattes }}
                <a href="{{ . | safeURL }}" ><i class="ai fab ai-lattes"></i></a>
            {{ end }}
        {{ end }}
    </div>
    {{/* .Content */}}
</div>