{{ $ := .root }}
{{ $page := .page }}

<section id="{{ $page.File.TranslationBaseName }}" class="section text-center">
    <div class="container">
        <div class="text-center">
            {{ with $page.Title }}
            <h2 class="title mb-1">{{ . }}</h2>
            {{ end }}
            {{ with $page.Params.subtitle }}
            <p>{{ . }}</p>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{{ "img/default-avatar.png" }}" alt="">
            </div>
            <div class="col-md-6">
                <p>Em breve, nas lojas Google Play e App Store</p>
                <!-- TODO: use site langiage to change badges -->
                {{ printf "%#v" $.Site.Home.Language.Lang }}
                <a href='{{ $page.Params.play_store_link }}'>
                    <img alt='Disponível no Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pt_badge_web_generic.png'  height="85px"/>
                </a>
                <a href="{{ $page.Params.app_store_link }}">
                    <img src="{{ "img/badges/apple/App_Store_Badge_PTBR.svg" }}" alt="Disponível na App Store" height="60px">
                </a>
            </div>
        </div>
    </div>
</section>