{{ $ := .root }}
{{ $page := .page }}
{{ $scratch := newScratch }}

{{ if ( eq $.Site.Home.Language.Lang "pt" ) }}
    {{ $scratch.Set "glink" "https://play.google.com/intl/en_us/badges/images/generic/pt-br_badge_web_generic.png" }}
    {{ $scratch.Set "alink" "img/badges/apple/App_Store_Badge_pt-br.svg" }}
{{ else if ( eq $.Site.Home.Language.Lang "es" ) }}
    {{ $scratch.Set "glink" "https://play.google.com/intl/en_us/badges/images/generic/es_badge_web_generic.png" }}
    {{ $scratch.Set "alink" "img/badges/apple/App_Store_Badge_es.svg" }}
{{ else }}
    {{ $scratch.Set "glink" "https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" }}
    {{ $scratch.Set "alink" "img/badges/apple/App_Store_Badge_en.svg" }}
{{ end }}

<section id="{{ $page.File.TranslationBaseName }}" class="section section-app text-center">
    <div class="container">
        <div class="text-center"  style="margin-bottom: 100px;">
            {{ with $page.Title }}
            <h2 class="title mb-1">{{ . }}</h2>
            {{ end }}
            {{ with $page.Params.subtitle }}
            <p>{{ . }}</p>
            {{ end }}
        </div>
        <div class="row mt-3">
            <div class="col-md-6 text-center">
                {{ if $page.Params.image.path }}
                <img src="{{ $page.Params.image.path }}" alt="{{ $page.Params.image.alt }}">
                {{ end }}
            </div>
            <div class="col-md-6 d-flex flex-column">
                <div class="justify-content-start flex-fill">
                </div>
                <div class="justify-content-end">
                    {{ if $page.Content }}
                    <p>{{ $page.Content }}</p>
                    {{ end }}
                    <a href='{{ $page.Params.play_store_link }}'>
                        <img alt='{{ i18n "playStore" }}' src='{{ $scratch.Get "glink" }}'  height='85px'/>
                    </a>
                    <a href='{{ $page.Params.app_store_link }}'>
                        <img alt='{{ i18n "appStore" }}' src='{{ $scratch.Get "alink" }}' height='60px'>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>