<section class="section section-images">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-images-container">
                    <img src="{{ .Params.image1.path }}" alt="{{ .Params.image1.alt }}">
                </div>
                <div class="hero-images-container-1">
                    <img src="{{ .Params.image2.path }}" alt="{{ .Params.image2.alt }}">
                </div>
                <div class="hero-images-container-2">
                    <img src="{{ .Params.image3.path }}" alt="{{ .Params.image3.path }}">
                </div>
            </div>
        </div>
    </div>
</section>