{{ $ := .root }}
{{ $page := .page }}

{{ $posts_len := len (where $.Data.Pages "Section" "post") }}
<section id="{{ $page.File.TranslationBaseName }}" class="section">
    <div class="container">
        <div class="text-center">
            {{ with $page.Title }}
            <h2 class="title">{{ . }}</h2>
            {{ end }}
            {{ with $page.Params.description }}
            <p class="description">{{ . }}</p>
            {{ end }}
        </div>
        {{ if gt $posts_len 0 }}
        {{ if eq $page.Params.type "list" }}
        <div class="list-group">
            {{ range first 3 (where $.Data.Pages.ByPublishDate.Reverse "Section" "post") }}
            {{ partial "list.html" . }}
            {{ end }}
        </div>
        {{ else if eq $page.Params.type "card" }}
        <div class="card-columns">
            {{ range first 3 (where $.Data.Pages.ByPublishDate.Reverse "Section" "post") }}
            {{ partial "card.html" . }}
            {{ end }}
        </div>
        {{ else }}
        {{ errorf "Configuration error: type must be `card` or `list` but is %v" $page.Params.type }}
        {{ end }}
        {{ if (gt $posts_len 3) }}
        <div class="text-right">
            <a class="btn btn-primary" href="{{ ($.Site.GetPage "Section" "post" ).Permalink }}" role="button">{{ i18n "moreNews" }} <i class="fas fa-arrow-right"></i></a>
        </div>
        {{ end }}
        {{ else }}
        <div class="text-center">
            <p>{{ i18n "noNews" }}</p>
        </div>
        {{ end }}
    </div>
</section>