{{ $ := .root }}
{{ $page := .page }}
{{ $scratch := newScratch }}

<section id="{{ $page.File.TranslationBaseName }}" class="section section-team text-center">
    <div class="container">
        <div class="text-center">
            {{ with $page.Title }}
            <h2 class="title mb-1">{{ . }}</h2>
            {{ end }}
            {{ with $page.Params.subtitle }}
            <p>{{ . }}</p>
            {{ end }}
        </div>
        <div class="team">
            <div class="row">
                {{ range (where $.Site.RegularPages "Type" "team") }}
                <div class="col-md-3 mb-3">
                    {{ partial "widgets/_team-member.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>