{{ $ := .root }}
{{ $page := .page }}

<section id="{{ $page.File.TranslationBaseName }}" class="section">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-left">
            <div class="text-center">
                {{ with $page.Title }}
                <h2 class="title">{{ . }}</h2>
                {{ end }}
                {{ with $page.Params.description }}
                <p class="description">{{ . }}</p>
                {{ end }}
            </div>
            {{ $page.Content }}
        </div>
    </div>
</section>