{{ $ := .root }}
{{ $page := .page }}

<section id="{{ $page.File.TranslationBaseName }}" class="section">
    <div class="container">
        <div class="text-center">
            {{ with $page.Title }}
            <h2 class="title">{{ . }}</h2>
            {{ end }}
            {{ with $page.Params.description }}
            <p class="description">{{ . }}</p>
            {{ end }}
        </div>

        <div class="col-md-8 offset-md-2">
            {{ if $page.Params.events }}
            {{ $exp_len := len $page.Params.events }}
            {{ range $idx, $key := sort $page.Params.events "date" "desc"}}
            <div class="row">
                <!-- Timeline -->
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <div class="row h-50">
                        <div class="col {{if gt $idx 0}}border-right{{end}}">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                    <div class="m-2">
                        <span class="badge badge-pill border {{if eq $idx 0}}bg-primary{{end}}">&nbsp;</span>
                    </div>
                    <div class="row h-50">
                        <div class="col {{if lt $idx (sub $exp_len 1)}}border-right{{end}}">&nbsp;</div>
                        <div class="col">&nbsp;</div>
                    </div>
                </div>
                <!-- Content -->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {{ with .image }}
                            <div class="float-left mr-3 mb-3">
                                <img src="{{ .path }}" alt="{{ .alt }}" class="img-fluid" style="max-height: 200px; ">
                            </div>
                            {{ end }}
                            <div>
                                <h4 class="card-title mb-1 mt-0">
                                    {{- with .company_url}}<a href="{{.}}" target="_blank" rel="noopener">{{end}}
                                        {{.title | markdownify | emojify}}{{with .company_url}}</a>
                                    {{end -}}
                                </h4>
                                <div class="card-subtitle mb-3 text-muted">
                                    <time datetime="{{ time .date }}" >{{ (time .date).Format ($page.Params.date_format | default "January 2006") }}</time>
                                </div>
                            </div>

                            {{with .description}}<div class="card-text">{{. | markdownify | emojify}}</div>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</section>