<!--div class="col-md-6 col-lg-6 col-xl-6 ml-auto mr-auto"-->
    <div class="card">
        {{ if .Params.header_image }}
        <img src="{{ .Params.header_image | absURL }}" class="card-img-top" style="heigth:150px"/>
        {{ end }}
        <div class="card-body">
            <h2 class="card-title"> <a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class="card-subtitle mb-2 text-muted">
                <time datetime="{{ .Date }}" class="mr-3">{{ .Date.Format "02/01/2006" }}</time>
                <span>{{ .WordCount }} words</span>
            </div>
            {{ .Summary }}
        </div>
    </div>
<!--/div-->