<header class="page-header {{ if .Params.header_small }} page-header-small {{ end }} {{ if .Params.header_filter }} clear-filter {{ end }}"
    filter-color="orange" role="banner">
    <div class="page-header-image" data-parallax="true" style="background-image: url('{{ .Params.header_image | relURL }}');">
    </div>
    <div class="content-center">
        <div class="container">
            <h1 class="title">{{ .Params.Title }}</h1>
            <h3>{{ .Params.Subtitle }}</h3>
        </div>
    </div>
</header>