{{ .Scratch.Set "image_header" "img/bg11.jpg" }}
{{ if .Params.header_image }}
{{ .Scratch.Set "image_header" .Params.header_image }}
{{ end }}

<header id="header" class="page-header page-header-small {{ if .Params.header_filter }} clear-filter {{ end }}"
    filter-color="primary" role="banner">
    <div class="page-header-image" data-parallax="true"
        style="background-image: url('{{ .Scratch.Get "image_header" | relURL }}');">
    </div>
    <div class="content-center">
        <div class="container">
            <h1 class="title">{{ .Params.Title }}</h1>
            <h3>{{ .Params.Subtitle }}</h3>
        </div>
        {{if (and .Site.Menus.call_to_action .IsHome) }}
        <div class="container">
            {{ $currentPage := . }}
            {{ range .Site.Menus.call_to_action }}
            <a class="btn btn-primary btn-lg" href="{{ .URL }}" title="{{ .Title }}"><b>{{ .Name | upper}}</b></a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</header>
